<!-- ======= Header ======= -->
<%- include('partials/header') %>
<!-- ======= Navbar ======= -->
<%- include('partials/navbar') %>
<!-- ======= Hero ======= -->
<%- include('partials/hero') %>
<main id="main">
  <!-- ======= Get Started Section ======= -->
  <%- include('partials/get-started') %>
  <!-- ======= About Us Section ======= -->
  <%- include('partials/about-us') %>
  <!-- ======= Features Section ======= -->
  <%- include('partials/features') %>
  <!-- ======= Screenshots Section ======= -->
  <%- include('partials/screenshots') %>
  <!-- ======= Team Section ======= -->
  <%- include('partials/team') %>
  <!-- ======= Video Section ======= -->
  <!--
  <section id="video" class="text-center">
    <div class="overlay">
      <div class="container-fluid container-full" data-aos="zoom-in">

        <div class="row">
          <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q&feature=emb_title" class="glightbox play-btn"></a>
        </div>

      </div>
    </div>
  </section> 
  -->
 <!-- ======= Contact Section ======= -->
  <%- include('partials/contact') %>
</main>
<!-- ======= Footer ======= -->
<%- include('partials/footer') %>
<!-- ======= BackToTop ======= -->
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
<!-- ======= Scripts ======= -->
<%- include('partials/scripts') %>
</body>
</html>